@charset "utf-8";
body {
background: #005097;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

#header{
margin-bottom:50px;
margin-top:10px;
}
#zaloguj {
margin-top:-80px;
margin-right:15px;
}
#wyszukiwarka {
margin-top:0px;
margin-bottom:10px;
width:600px;
float:right;
}

#navigation {
	background: #fff;

}
#navigation li {
  display: table-cell;
  position: relative;
  top: 0px;
  width: 150px;
  height: 20px;
 border-style:solid;
border-width:1px;
border-color:#fff;
  padding: 10px; 
  text-align: center;
  color: white;
  transition: color 1s linear, top 0.1s ease-in, transform 1s linear;
  
}


.menu_niezalogowany 
{
 background:  #1e5799 0%; 

}

.menu_admin
{
background:#f6a932;
margin-top:20px;
margin-bottom:20px;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

#navigation a  {
color:#fff;
	text-decoration: none;
}

a:link {
	color:#000;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
color:#005097;
}

#content a {
color:#000;

}
/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 80%;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 780px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color: white;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	background-color:white;
}


#left_panel_home 
{
display:block;
width:500px;
float:left;
}
#right_panel_home
{


display:block;
width:400px;
float:right;
}
p.ogloszenia {
color: #005097;
width:300px;
border-bottom-width:1px;
	border-bottom-style:solid;
border-bottom-color:#005097;
font-weight:bold;
font-size:18px;
}

.listowanie{
border-bottom-width:1px;
	border-bottom-style:solid;
border-bottom-color:#005097;
}

#footer {
clear: both;
text-align:center;
display:block;
	padding: 10px 0;
	background-color: #fff;
	margin-top:100px;
height:50px;
border-top-width:1px;
	border-top-style:solid;
border-top-color: #6F7D94;
font-size:13px;
}

#footer a {
color:#000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.color_red{color:#F00}

.highlight {background-color:yellow}

.align_left{text-align:left}

.align_right{text-align:right}

.color_white{color:#FFF}

.vertical_align{vertical-align:middle}
